* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
    box-sizing: border-box;
}
